/* Sidecare.css */
.sidebar {
    background-color: skyblue;
    color: white;
    padding: 15px;
    width: 100px;
    position: fixed;
    left: 0;
    top: 0; /* 또는 다른 위치로 조절 가능 */
    bottom: 20;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .profile-image {
    width: 50px; /* 필요한 크기에 맞게 조절 */
    height: 50px; /* 필요한 크기에 맞게 조절 */
    border-radius: 50%; /* 선택 사항: 이미지를 동그랗게 만들기 위한 둥근 경계 */
    margin-bottom: 10px; /* 선택 사항: 이미지 아래에 여백 추가 */
}