예약 정보 테이블 스타일 추가
table {
  width: 80%; /* 너비 조절 */
  margin: 20px auto; /* 중앙 정렬 및 예약 정보와의 간격 조절 */
  border-collapse: collapse;
}

/* 예약 정보 테이블 헤더 스타일 추가 */
table th {
  background-color: #3498db; /* 헤더 배경 색상을 파란색으로 설정 */
  color: white; /* 헤더 텍스트 색상을 흰색으로 설정 */
  font-weight: bold;
  padding: 15px; /* 패딩 값 조절 */
  text-align: center;
  border: 1px solid #ddd; /* 테두리 설정 */
}

/* 예약 정보 테이블 셀 스타일 추가 */
table td {
  padding: 15px; /* 패딩 값 조절 */
  text-align: center;
  border: 1px solid #ddd; /* 테두리 설정 */
}

/* 페이지네이션 스타일 추가 */
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination button {
  margin: 0 5px;
  padding: 8px 12px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

.pagination button.active {
  background-color: #2980b9;
}
.my-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 50px auto; /* 조절 가능한 여백 */
}