/*페이지네이션 스타일*/
.Pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/*버튼 색깔*/
.MuiPagination-root {
    button{
        background-color : #dbfeff !important;
    }
}
