.table-container {
  border: 2px solid black;
  background: lightgray;
  width: 50%;
  border-collapse: collapse;
}

.table-cell {
  border: 1px solid black;
  padding: 8px;
}

/* ========== ========== ========== ========== ========== */
/* ========== ========== ========== ========== ========== */
/* ========== ========== ========== ========== ========== */

.btn-gray {
  background: gray;
  color: white; /* 텍스트 색상을 백그라운드와 대비되도록 흰색으로 설정 */
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.btn-red {
  background: red;
  color: white;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.btn-purple {
  background: purple;
  color: white;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}
