@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cute+Font&family=Gaegu:wght@300&family=Nanum+Pen+Script&family=Orbit&family=Single+Day&display=swap');

.All-user-pay{
    font-family: 'Single Day', cursive;
    font-size: 54px;
}

/* .MuiDataGrid-virtualScroller {
    margin-top: 0 !important;
    background : linear-gradient(to right, #fbfbfc, #dbfeff);
    border: 3px solid #a0a0a0; 
    border-radius: 8px;
    
} */

.MuiDataGrid-root .MuiDataGrid-headerCell{
    font-family: 'Cute Font', sans-serif;
    font-size: 20px;
    background : linear-gradient(to right, #fbfbfc, #dbfeff);
}

/* .All-user-pay-column{
    background : linear-gradient(to right, #fbfbfc, #dbfeff);
    border: 3px solid #a0a0a0; 
    border-radius: 8px;
    font-family: 'Cute Font', sans-serif;
    font-size: 20px;
} */