.header {
  display: flex;
  flex-direction: column;
}

.top-memu {
  right: 10%;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.bottom-memu {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
