.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* 양 끝으로 정렬 */
  align-items: center;
}

.top-memu {
  right: 10%;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.bottom-memu {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
