@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Nanum+Pen+Script&display=swap');

.success{
    text-align: center;
    font-family: 'Cute Font', sans-serif;
    font-size: 54px;
    color: #333;
}
/*버튼 폰트*/
.success-button{
    text-align: center;
    font-family: 'Cute Font', sans-serif;
    font-size: 20px;
    justify-content: center;
}
/*버튼 스타일*/
.success-button-style{
    margin-left: 210px;
    margin-top: 100px;
}

.success-inform{
    text-align: center;
    font-family: 'Cute Font', sans-serif;
    font-size: 30px;
    color: #333;
}

