@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cute+Font&family=East+Sea+Dokdo&family=Gaegu:wght@300&family=Nanum+Pen+Script&family=Orbit&display=swap');


.Modal{
    background : linear-gradient(to right, #fbfbfc, #dbfeff);
    margin-Left: 20px;
    display: flex;
    align-Items: center;
}

/*정보*/
.Modal-inform{
   margin-Left: 50px;
   font-family: 'Cute Font', sans-serif;
   font-size: 20px;
   
}



/*버튼*/
.Modal-button{
    font-family: 'Cute Font', sans-serif;
    font-size: 25px;
    text-align: center;
}

/*모달창 바디*/
.modal-body{
    background : linear-gradient(to right, #fbfbfc, #dbfeff);
    border: 8px;
    border-left: 7px solid #ccc;
    border-right: 7px solid #ccc;
}

/*모달창 상단 텍스트*/
.Modal-title{
    font-family: 'Gaegu', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    
}

/*이미지*/
.modal-image{
    margin-left: 30px;
    width: 300px;
    height: 390px;
    border-radius: 8px;
    border: 5px solid #ccc;
}

.custom-modal-dialog modal-lg{
    background : linear-gradient(to right, #fbfbfc, #dbfeff);
}

/*모달창 상단*/
.modal-back{
    background : linear-gradient(to right, #fbfbfc, #dbfeff);
    border: 7px solid #ccc;
}

/*모달창 하단*/
.modal-footer{
    background : linear-gradient(to right, #fbfbfc, #dbfeff);
    border: 7px solid #ccc;
}

