.board-detail-container {
  width: 50%;
  margin: 0;
  position: sticky;
  top: 0;
  background-color: #ffffff7a;
}

/* ===== 제목, 작성자, 일자 ===== */

.board-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.board-info {
  flex: 1;
}

/* 작성자 정보의 오른쪽 여백 조절 */
.author-info {
  margin-right: 20px;
}

/* 작성 일자 정보의 왼쪽 여백 조절 */
.date-info {
  margin-left: 20px;
}

.board-actions {
  margin-left: 20px;
}

.board-actions .btn {
  margin-left: 20px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* ===== 댓글 ===== */

.board-comment {
  justify-items: center;
  align-items: center;
}

.createComment {
  display: block;
  align-items: center;
}

.recomment {
  display: flex;
  justify-items: center;
  align-items: center;
}

/* - 답글 대상 표시 */
.recomment input {
  width: 100px;
}

/* - 답글 취소 */
.cancle-recomment {
  height: 50%;
  margin-right: 10px;
  margin-bottom: 5px;
}

/* - 댓글 입력, 추가 */
.board-newComment {
  display: flex;
  flex: 1;
  align-items: center;
}

.addComment {
  margin-right: 10px;
  margin-bottom: 15px;
}

.addCommentArea {
  resize: none;
  height: 100px;
  font-size: 12px;
  width: 80%;
}
