.col-md-6 {
  margin-top: 30px;
  width: 60%;
}
.col-md-7 {
  margin-left: 40%;
  margin-top: 30px;
  width: 60%;
}
.imgGroup img {
  width: 33.3%;
  height: 400px;
  background-size: contain;
  float: left;
}
.containerMain {
  width: 100%;
  height: 450px;
}
.mainImg {
  width: 100%;
  height: 100%;
  background-size: contain;
}
.mainbtn {
  margin-left: 40%;
  width: 20%;
  background-color: black;
}
.mainfont {
  margin-left: 25%;
  width: 100%;
}

.container-xl {
  margin-top: 20px;
}

.Homeimg{
  margin-top: 30px;
  float: left;
  width:40%;
  height: 200px;
}

.Homeimg > img{
  width:100%;
  height: 110%;
  object-fit:fill;
}

.Homeimg2{
  margin-top: -190px;
  float: left;
  width:38%;
  height: 200px;
}

.Homeimg2 > img{
  width:100%;
  height: 95%;
  object-fit:fill;
}
