.tableContainer {
  margin-top: 20px;
}

.tableHead {
  background-color: lightgray;
}

.btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.page-container {
  background-color: "lightgray";
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
