.agree-container {
  width: 500px;
  align-items: center;
}

textarea {
  height: 200px;
  resize: none;
}

.agree-title {
  text-align: center;
}

.agree-checkBoxs {
  display: flex;
  flex: 1;
  align-items: center;
}
